<!-- Vorhang-rechts -->
        <a-box id="cr" height="13" depth="0.1" width="24" material="src: #curtain" position="-12 7 -11">
            <!--
            <a-animation attribute="width" to="5" begin="mousedown" dur="5000">
            </a-animation>
            -->
        </a-box>
        <a-assets>
            <!--Vorhand-IMG-->       <img id="curtain" src="../../assets/materials/curtain.jpg">
        </a-assets>

        <!-- Vorhang-links -->
        <a-box id="cl" height="13" depth="0.1" width="24" material="src: #curtain" position="12 7 -11">
                      <!--
            <a-animation attribute="width" to="5" begin="mousedown" dur="5000">
            </a-animation>
            -->
        </a-box>